[defaults]
# disable host_key_checking
# https://docs.ansible.com/ansible/latest/user_guide/connection_details.html#host-key-checking
host_key_checking = False

inventory=inventory.d

# FYI `vagrant ssh-config` is a great guide for configuring ansible to connect directly to VMs created by vagrant